
@{
    Layout = Layout;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewClassShedule</title>
</head>
<body>
<div>
    @Html.ActionLink("8. Allocate Class Room", "Save", "AllocateClassRoom")
    <br/>

    @Html.ActionLink("9. View Class Shedule", "ViewClassShedule", "AllocateClassRoom")
    <br />
    @Html.ActionLink("11. Save Student Result", "SaveResult", "StudentResult")
    <br />
    @Html.ActionLink("13. UnAssignAllCourse", "UnAssignCourse", "UnassignAllCourses")
    <br />
    @Html.ActionLink("14. UnAllocate All ClassRoom", "UnAllocatClass", "UnAllocateAllClassRoom")

</div>
   
</body>
</html>
