@model UniversityManagementSystemWebApp.Models.AllocateClassRoom

@{
    Layout = null;
    List<SelectListItem> departments = ViewBag.Departments;
    List<SelectListItem> rooms = ViewBag.Rooms;
    List<SelectListItem> weekDays = ViewBag.WeekDays;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Save</title>
    <!--javascript and css for timepicker-->
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet"/>
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker3').datetimepicker({
                format: 'LT'
            });
            $('#datetimepicker4').datetimepicker({
                format: 'LT'
            });
        });
    </script>



</head>
<body>
    <div>  

    @using (Html.BeginForm("Save", "AllocateClassRoom", FormMethod.Post, new { id = "AllocateClassRoomForm", @class = "" }))
    {
        <table>          
            <tr>
                <td>

                    @Html.LabelFor(x => x.DeptId)
                </td>
                <td>

                    @Html.DropDownListFor(x => x.DeptId, new SelectList(departments, "Value", "Text"))
                    @Html.ValidationMessageFor(x => x.DeptId)

                </td>
            </tr>

            <tr>
                <td>

                    @Html.LabelFor(x => x.CourseId)
                </td>
                <td>

                    @Html.DropDownListFor(x => x.CourseId, new SelectList(string.Empty, "Value", "Text"))
                    @Html.ValidationMessageFor(x => x.CourseId)

                </td>
            </tr>

            <tr>
                <td>

                    @Html.LabelFor(x => x.RoomId)
                </td>
                <td>

                    @Html.DropDownListFor(x => x.RoomId, new SelectList(rooms, "Value", "Text"))
                    @Html.ValidationMessageFor(x => x.RoomId)

                </td>
            </tr>

            

            <tr>
                <td>

                    @Html.LabelFor(x => x.DayId)
                </td>
                <td>

                    @Html.DropDownListFor(x => x.DayId, new SelectList(weekDays, "Value", "Text"))
                    @Html.ValidationMessageFor(x => x.DayId)

                </td>
            </tr>

            <tr>
                <td>

                    @Html.LabelFor(x => x.FromTime)
                </td>
                <td>
                    <div class="container">
                        <div class="row">
                            <div class='col-sm-6'>
                                <div class="form-group">
                                    <div class='input-group date' id='datetimepicker3'>
                                        @Html.TextBoxFor(x => x.FromTime, new { @class = "form-control" })                                     
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-time"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>                                                                              
                        </div>
                    </div>

                   
                    @Html.ValidationMessageFor(x => x.FromTime)
                </td>
            </tr>

            <tr>
                <td>

                    @Html.LabelFor(x => x.ToTime)
                </td>
                <td>
                    <div class="container">
                        <div class="row">
                            <div class='col-sm-6'>
                                <div class="form-group">
                                    <div class='input-group date' id='datetimepicker4'>
                                        @Html.TextBoxFor(x => x.ToTime, new { @class = "form-control" }) 
                                        
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-time"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                   
                    @Html.ValidationMessageFor(x => x.ToTime)
                </td>
            </tr>

            <tr>
                <td>
                    <input type="submit" value="Save" />
                </td>
            </tr>
        </table>
        if (ViewBag.Message != null)
        {
             <label>@ViewBag.Message</label>
        }

    }



</div>


    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
        <script>
           
            $(document).ready(function () {
                   
                   
                
                //cascading dropdownlist
                $("#DeptId").change(function () {
                    var deptId = $("#DeptId").val();
                    alert("show dept id" + deptId);
                    var json = { DeptId: deptId };
                    $.ajax({
                        type: "POST",
                        url : '@Url.Action("GetCourseByDepartmentId","AllocateClassRoom")',
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify(json),                  
                        success: function (data) {
                            $("#CourseId").empty();
                            $.each(data, function (key, value) {
                               
                                $("#CourseId").append('<option value=' + value.Value + '>' + value.Text + '</option>');
                            });
                        }

                    });

                });
            });
        </script>

    
</body>
</html>
