@using UniversityManagementSystemWebApp.Models
@model dynamic

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Department> Departments = ViewBag.Departments;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RegisterStudent</title>
</head>
<body>
    <div class="container">
        <div class="form-group">
            <h2>Register New Student</h2>
        </div>
        <hr />

        @using (Html.BeginForm("Register", "Student", FormMethod.Post, new { id = "studentRegistrationform", @class = "form-horizontal" }))
        {


            <div class="form-group">

                <div class="col-md-2 control-label">
                    @Html.Label("StudentName")
                </div>

                <div class="col-md-10">
                    @Html.TextBox("StudentName")
                </div>
            </div>

            <div class="form-group">

                <div class="col-md-2 control-label">
                    @Html.Label("ContactNo")
                </div>

                <div class="col-md-10">
                    @Html.TextBox("ContactNo")
                </div>

            </div>


            <div class="form-group">
                <div class="col-md-2 control-label">
                    @Html.Label("Email")
                </div>


                <div class="col-md-10">
                    @Html.TextBox("Email")
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2 control-label">
                    @Html.Label("Address")
                </div>

                <div class="col-md-10">
                    @Html.TextBox("Address")
                </div>
            </div>



            <div class="form-group">
                <div class="col-md-2 control-label">
                    <label for="Date">Date</label>
                </div>

                <div class="row">
                    <div class='col-sm-2'>
                        <input type='text' class="col-md-10" id='Date' name="Date" />
                    </div>
                    <script type="text/javascript">
                        $(function () {
                            $('#Date').datetimepicker({
                                format: 'DD/MM/YYYY'
                            });
                        });
                    </script>
                </div>

            </div>

            <div class="form-group">
                <div class="col-md-2 control-label">
                    @Html.Label("DepartmentId")
                </div>


                <div class="col-md-10">

                    @Html.DropDownList("DepartmentId", new SelectList(Departments, "DeptId", "Code"), "--SELECT--")
                </div>
            </div>

            <div class="col-md-3 control-label">
                <button class="btn btn-success" type="submit">Register</button>
            </div>
            if (ViewBag.Message != null)
            {
                <label class="col-md-10">@ViewBag.Message</label>

            }
        }
    </div>

</body>
</html>