@using UniversityManagementSystemWebApp.Models
@model  Student

@{
    //    Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = Layout;
    List<Department> Departments = ViewBag.Departments;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RegisterStudent</title>
<body>
    <div class="container">
        <div class="form-group">
            <h2>Register New Student</h2>
        </div>
        <hr />

        @using (Html.BeginForm("Register", "Student", FormMethod.Post, new { id = "studentRegistrationform", @class = "form-horizontal" }))
        {


            <div class="form-group">

                <div class="col-md-2 control-label">
                    @Html.LabelFor(x => x.StudentName)
                </div>

                <div class="col-md-10">
                    @Html.TextBoxFor(x => x.StudentName)
                    @Html.ValidationMessageFor(x => x.StudentName)
                </div>
            </div>

            <div class="form-group">

                <div class="col-md-2 control-label">
                    @Html.LabelFor(x => x.ContactNo)
                </div>

                <div class="col-md-10">
                    @Html.TextBoxFor(x => x.ContactNo)
                    @Html.ValidationMessageFor(x => x.ContactNo)
                </div>

            </div>


            <div class="form-group">
                <div class="col-md-2 control-label">
                    @Html.LabelFor(x => x.Email)
                </div>


                <div class="col-md-10">
                    @Html.TextBoxFor(x => x.Email)
                    @Html.ValidationMessageFor(x => x.Email)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2 control-label">
                    @Html.LabelFor(x => x.Address)
                </div>

                <div class="col-md-10">
                    @Html.TextBoxFor(x => x.Address)
                    @Html.ValidationMessageFor(x => x.Address)
                </div>
            </div>



            <div class="form-group">
                <div class="col-md-2 control-label">
                    @Html.LabelFor(x => x.Date)
                </div>
                @*  <input type='text' class="col-md-10" id='Date' name="Date"/>*@
                <div class="col-md-10">
                    @Html.TextBoxFor(x => x.Date)
                    @Html.ValidationMessageFor(x => x.Date)
                </div>

                <script type="text/javascript">
                    $(function () {
                        $('#Date').datetimepicker({
                            format: 'DD/MM/YYYY'
                        });
                    });
                </script>


            </div>

            <div class="form-group">
                <div class="col-md-2 control-label">
                    @Html.LabelFor(x => x.DepartmentId)
                </div>


                <div class="col-md-10">

                    @Html.DropDownListFor(x => x.DepartmentId, new SelectList(Departments, "DeptId", "Code"), "--SELECT--")
                    @Html.ValidationMessageFor(x => x.DepartmentId)
                </div>
            </div>

            <div class="col-md-3 control-label">
                <button class="btn btn-success" type="submit">Register</button>
            </div>
            if (ViewBag.Message != null)
            {
                <label class="col-md-10">@ViewBag.Message</label>

            }
        }
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>