@model UniversityManagementSystemWebApp.Models.Enroll

@{
    Layout = null;
    List<SelectListItem> studentRegNo = ViewBag.StudentRegNo;
    List<SelectListItem> allGradelist = ViewBag.allGradelist;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SaveResult</title>
</head>
<body>
<div>
    @using (Html.BeginForm("SaveResult", "StudentResult", FormMethod.Post))
    {
        <table>
            <tr>
                <td>
                    @Html.LabelFor(x => x.StudentId)
                </td>

                <td>

                    @Html.DropDownListFor(x => x.StudentId, new SelectList(studentRegNo, "Value", "Text"))
                    @Html.ValidationMessageFor(x => x.StudentId)
                </td>

            </tr>

            <tr>
                <td>
                    <label >Name</label>
                </td>

                <td>

                    <input type='text' name="Name" id="Name" readonly="readonly"/>
                </td>

            </tr>
            <tr>
                <td>
                    <label >Email</label>
                </td>

                <td>

                    <input type='text' name="Email" id="Email" readonly="readonly"/>
                </td>

            </tr>
            <tr>
                <td>
                    <label >Department</label>
                </td>

                <td>

                    <input type='text' name="Department" id="Department" readonly="readonly"/>
                </td>

            </tr>

            <tr>
                <td>
                    @Html.LabelFor(x => x.GradeId)
                </td>

                <td>

                    @Html.DropDownListFor(x => x.GradeId, new SelectList(allGradelist, "Value", "Text"))
                    @Html.ValidationMessageFor(x => x.GradeId)
                </td>

            </tr>
            <tr>
                <td>
                    @Html.LabelFor(x => x.CourseId)
                </td>

                <td>

                    @Html.DropDownListFor(x => x.CourseId, new SelectList(string.Empty, "Value", "Text"))
                    @Html.ValidationMessageFor(x => x.CourseId)
                </td>

            </tr>
            <tr>
                <td>
                    <input type="submit" value="Save"/>
                </td>
            </tr>

        </table>
         if (ViewBag.Message != null)
        {
             <label>@ViewBag.Message</label>
        }


    }
</div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script>

            $(document).ready(function () {



                //cascading dropdownlist
                $("#StudentId").change(function () {
                    var studentId = $("#StudentId").val();
                    alert("show dept id" + studentId);
                    var json = { studentId: studentId };

                    //call for course dropdown
                    $.ajax({
                        type: "POST",
                        url : '@Url.Action("GetCourseByStudentId", "StudentResult")',
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify(json),
                        success: function (data) {
                            $("#CourseId").empty();
                            $.each(data, function (key, value) {

                                $("#CourseId").append('<option value=' + value.Value + '>' + value.Text + '</option>');
                            });
                        }

                    });


                    //for all Student info name,email,dept
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("GetAllInfoByStudentId", "StudentResult")',
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify(json),
                        success: function (data) {
                            if (data != null) {
                                $('#Name').val(data.StudentName);
                                $('#Email').val(data.Email);
                                $('#Department').val(data.DeptCode);
                            } else {
                                alert("Something went wrong");
                            }
                        }
                        
                    });

                   

                });
            });
    </script>
</body>
</html>
