@model UniversityManagementSystemWebApp.Models.Course
@{
    //Layout = null;
    List<SelectListItem> departments = ViewBag.Department;
    List<SelectListItem> semesters = ViewBag.Semester;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SaveCourse</title>
</head>
<body>
<h2>Create New Course</h2>
    <hr />
<div class="form-horizontal">
    @using (Html.BeginForm("SaveCourse", "Course", FormMethod.Post,new {id="saveCourseForm"}))
    {
        <div class="form-group ">
            <div class="col-md-2 control-label">
                @Html.Label("Course Name")
            </div>
            <div class="col-md-10">
                @Html.TextBoxFor(x => x.CourseName)
                @Html.ValidationMessageFor(x => x.CourseName)
            </div>
        </div>
        <div class="form-group ">
            <div class="col-md-2 control-label">
                @Html.Label("Course Code")
            </div>
            <div class="col-md-10">
                @Html.TextBoxFor(x => x.CourseCode)
                @Html.ValidationMessageFor(x => x.CourseCode)
            </div>
        </div>
        <div class="form-group ">
            <div class="col-md-2 control-label">
                @Html.Label("Credit")
            </div>
            <div class="col-md-10">
                @Html.TextBoxFor(x => x.Credit)
                @Html.ValidationMessageFor(x => x.Credit)
            </div>
        </div>
        <div class="form-group ">
            <div class="col-md-2 control-label">
                @Html.Label("Description")
            </div>
            <div class="col-md-10">
                @Html.TextBoxFor(x => x.Description)
                @Html.ValidationMessageFor(x => x.Description)
            </div>
        </div>

        <div class="form-group ">
            <div class="col-md-2 control-label">
                @Html.Label("Department")
            </div>
            <div class="col-md-10">
                @Html.DropDownListFor(x => x.DeptId, new SelectList(departments, "Value", "Text"), new {@class = "col-md-10"})
                @Html.ValidationMessageFor(x => x.DeptId)
            </div>
        </div>
        <div class="form-group ">
            <div class="col-md-2 control-label">
                @Html.Label("Semester")
            </div>
            <div class="col-md-10">
                @Html.DropDownListFor(x => x.SemesterId, new SelectList(semesters, "Value", "Text"), new {@class = "col-md-10"})
                @Html.ValidationMessageFor(x => x.SemesterId)
            </div>
        </div>
         <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="Save"/>
                    
                </div>
                <br/>
                @if (ViewBag.Message != null)
{
    <label class="col-md-10">@ViewBag.Message</label>
}
           </div>
    }
</div>
</body>
</html>
